@import url();

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {
  background: #191a19;
  color: #ededed;
}

header {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100%;
}

.logo {
  font-size: 23px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
    font-size: 10px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: .3s;
    @media screen and (max-width: 100px);
}

.navbar a:hover,
.navbar a.active {
  color: #ededed;
  @media screen and (max-width: 100px);
}

.home {
  height: 100vh;
  background: url('photo.png') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%;

}

.home-content {
  background: transparent;
  max-widht: 600px;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h3 {
  font-size: 32px;
  font-weight:700;
}

.home-content h3 {
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #0a5c38;
  border: 2px solid #0a5c70;
  border-radius: 8px;
  font-size: 19px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  letter-spacing: 1;
  overflow:hidden;
}

.btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%
  background: #red;
  z-index: -1;
  transition: .5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
}

.home-sci a {
}

/*---about--*/

#About {
  padding: 80px 0;
  color: #ededed;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 {
  width: 100%
  border-radius: 15px;
  margin-left: 35px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #ededed;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 120px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-titles::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;

}

.tab-contents ul li {
  list-style: none;
  margin: 15px 0;
  margin-right: 120px;
}

.tab-contents ul li span {
  color: #22ee5b;
  font-size: 14px;
  margin-right: 120px;
}

/*--projects--*/

#Projects {
padding: 80px 0;
color: #ededed;
}

.projects-col-1 {
  flex-basis: 35%;
}

.projects-col-1 {
  width:100%;
  border-radius: 15px;
  margin-left: 35px;
}

.projects-col-2 {
  flex-basis: 60%;
  justify-content: center;
  align-items: center;
}
